<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset = "utf-8">
        <title>Hospital_app</title>
        <link rel="stylesheet" href="{% static "css/mystyle.css"%}"/>
    </head>
    <body>
        <h1>Hello welcome to our hospital app!! </h1>
        <div class="djangotwo">
           {% if access_records %}
              <table>
                <thead>
                    <th>site name</th>
                    <th>Date accessed<th/>
                </thead>
             
              {% for acc in access_records %}
              <tr>
                <td>{{acc.name}}</td>
                <td>{{acc.date}}</td>
              <tr/>
              {% endfor %}
               </table>
               {% else %}
                <p>no access records found!!</p>
                {% endif %}
        </divs>
        <img src="{% static "images/lion.jpg" %}" >        

                    
    </body>
</html>